doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Kiah Bouchet')

        title Declutter With Kiah
        

        // Favicons Generated with favicon.il.ly
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='assets/img/favicon/favicon.ico')
        //if IE
        link(rel='shortcut icon', href='assets/img/favicon/favicon.ico')
        // Optional: Android & iPhone
        link(rel='apple-touch-icon-precomposed', href='assets/img/favicon/favicon.png')
        // Optional: IE10 Tile.
        meta(name='msapplication-TileColor', content='#FFFFFF')
        meta(name='msapplication-TileImage', content='assets/img/favicon/favicon.png')
        // Optional: ipads, androids, iphones, ...
        //- link(rel='apple-touch-icon-precomposed', sizes='152x152', href='assets/img/favicon/favicon-152.png')
        //- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/img/favicon/favicon-144.png')
        //- link(rel='apple-touch-icon-precomposed', sizes='120x120', href='assets/img/favicon/favicon-120.png')
        //- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/img/favicon/favicon-114.png')
        //- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/img/favicon/favicon-72.png')
        link(rel='apple-touch-icon-precomposed', href='assets/img/favicon/favicon-57.png')
        link(rel='icon', type='image/x-icon', href='assets/img/favicon/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        script(src="https://www.googletagmanager.com/gtag/js?id=G-4F6DDPB04G", async)
        script.
            window.dataLayer = window.dataLayer || []
            function gtag(){dataLayer.push(arguments)}
            gtag('js', new Date())
            gtag('config', 'G-4F6DDPB04G')
        

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a(href='#page-top')
                    img.rounded-circle.p-1(src='assets/img/favicon/favicon.png', alt='Declutter With Kiah',style='height: 50px')
                a.navbar-brand.js-scroll-trigger(href='#page-top') Declutter With Kiah
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#before-after') Before & After
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#reviews') Reviews
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Professional Declutter Services in Perth Area
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | Do you open your cupboards and scream, HELP!! And then quickly close them again? Well, you shouldn't have to, you should open up your pantry or wardrobe and breath out a large sigh of relief because you can finally find everything.
                            br
                            br
                            a(href='https://www.facebook.com/declutterwithKiah', target='_blank')
                                img.rounded-circle.p-1(src='assets/img/fb.jpeg', alt='Facebook Page - Declutter With Kiah',style='height: 40px')
                            a(href='https://www.instagram.com/declutterwithkiah', target='_blank')
                                img.rounded-circle.p-1(src='assets/img/insta.png', alt='Instagram - Declutter With Kiah',style='height: 40px')
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 "A clean house makes for a clean mind"
                        hr.divider.light.my-4
                        p.text-white-50.mb-4
                            | This is a job for a perfectionist, one would even call these people OCD! And that is me...im here to help re organise, stylize whatever it may be that you need help with. Office work, that's lying around, clothes that need sorting, labeling food containers so you don't keep buying another bottle of you know what?!
                            br
                            br
                            | I'm a local freo declutter queen that has lived with 3 boys and my husband for 13 years now and so I have lots of experience with managing a clean, organized and clutter free home. 

                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Get Started!

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 At Your Service
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-primary.mb-4 
                            h3.h4.mb-2 The diamond package aka the Declutter service
                            p.text-muted.mb-0 This includes 30 minutes of meet and greet. Then 3 hrs of solid decluttering. This must be done working together, as it provides a thorough understanding of what one would like to keep and what one would like to Declutter from their homes. This service also provides tips and tricks and a op-shop drop off.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
                            h3.h4.mb-2 The Marie Kondo way aka let’s organise your life
                            p.text-muted.mb-0 This package includes a 30 minute meet and greet and then 3 hrs of solid re-organising of your items in your home. I will show you ways to store, fold and make use of the items you already have in your home, so you don’t need to keep buying another storage item that just ends up taking up more space in your house.

                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 Travels aka packing and moving house
                            p.text-muted.mb-0 This package is for the amount of time it takes to pack up all your belongings into organised boxes and then to get them moved to your new home. This package is at a rate of $35 p/hr. The boxes will need to be provided by yourself-plus the moving truck. I just bring the brains and the muscles. I also will provide an itinerary.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-heart.text-primary.mb-4
                            h3.h4.mb-2 Finding love again aka unpacking your boxes
                            p.text-muted.mb-0 This package includes how ever long it takes to unpack and properly store away all your items into a well organised and  designed home again. This package is at a rate of $35p/hr. This package does require the owner of the items to be present to then best un pack your new home.

        // Portfolio
        section#before-after
        div#portfolio
            .container-fluid.p-0
                h2.text-center.mt-0 Before & After
                hr.divider.my-4
                .row.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/before-after/1.png')
                            img.img-fluid(src='assets/img/before-after/1.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/before-after/2.png')
                            img.img-fluid(src='assets/img/before-after/2.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='...')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name

       

        

            // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Reviews
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            h3.h4.mb-2 John B
                            q.text-muted.mb-0.Here is y review 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            h3.h4.mb-2 John B
                            q.text-muted.mb-0 Here is y review 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                           h3.h4.mb-2 John B
                           q.text-muted.mb-0 Here is y review 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                           h3.h4.mb-2 John B
                            q.text-muted.mb-0 Here is y review 


        //- // Call to action
        //- section.page-section.bg-dark.text-white
        //-     .container.text-center
        //-         h2.mb-4 Free Download at Start Bootstrap!
        //-         a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Now!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Ready to start your next project with me? Give me a call or send me an email and I will get back to you as soon as possible!
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div 
                        a.d-block(href='tel:+61 0403 239 506') +61 0403 239 506
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted
                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:kiah.bouchet@gmail.com?&subject=Declutter Me Please&body=Hello Kiah') kiah.bouchet@gmail.com


        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2021 - Declutter With Kiah

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
